<form class="new-speaker" action="/speakers/add" method="POST">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" />
  </p>

  <p>
    <label for="name">Role:</label>
    <input type="text" name="role" placeholder="Role" />
  </p>

  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="" rows="8" cols="40"></textarea>
  </p>

  <p>
    <label for="name">Region:</label>
    <input type="text" name="region" placeholder="Region" />
  </p>

  <p>
    <label for="image">Profile Image:</label>
    <input type="text" name="image" placeholder="Image URL"/>
  </p>

  <button type="submit">Submit</button>

</form>
