<form class="new-artist" action="/speakers/add" method="POST">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" />
  </p>

  <p>
    <label for="description">Description:</label>
    <textarea name="description" id="" rows="8" cols="40"></textarea>
  </p>

  <p>
    <label for="name">Region:</label>
    <input type="text" name="region" placeholder="Region" />
  </p>

  <button type="submit">Submit</button>

</form>
