<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
		<!-- Basic Page Needs
		================================================== -->
		<meta charset="utf-8">
		<title>IEEE SPAx - Explore</title>
		<meta name="description" content="IEEE SPAx is a new event model to streamline the IEEE Student Professional Awareness events.">
		<meta name="author" content="IEEE-SPAx Committee">
		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- CSS
		================================================== -->
		<!-- Bootstrap  -->
		<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!-- web font  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
		<!-- plugin css  -->
		<link rel="stylesheet" type="text/css" href="js-plugin/animation-framework/animate.css" />
		<link rel="stylesheet" type="text/css" href="js-plugin/magnific-popup/magnific-popup.css" />
		<link type="text/css" rel="stylesheet" href="js-plugin/isotope/css/style.css">
		<link rel="stylesheet" type="text/css" href="js-plugin/flexslider/flexslider.css" />
		<link rel="stylesheet" type="text/css" href="js-plugin/pageSlide/jquery.pageslide.css" />
		<!-- Owl carousel-->
		<link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="js-plugin/owl.carousel/owl-carousel/owl.theme.css">
		<!-- icon fonts -->
		<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons.css">
		<link type="text/css" rel="stylesheet" href="font-icons/custom-icons/css/custom-icons-ie7.css">
		<!-- Custom css -->
		<link type="text/css" rel="stylesheet" href="css/layout.css">
		<link type="text/css" id="colors" rel="stylesheet" href="css/blue.css">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
		<script src="js/modernizr-2.6.1.min.js"></script>
		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	</head>
	<body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
		<!-- Primary Page Layout
		================================================== -->
		<!-- globalWrapper -->
		<div id="globalWrapper" class="localscroll">

			<!-- header -->
			<div id="header"></div>

				<section>
					<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText">
								<h1>EXPLORE</h1>
							</div>
						</div>
					</div>
				</section>

				<section class="slice noPaddingBottom color1" id="about">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>EXPLORE Student Professional Awareness.</h1>
								<h2 class="subTitle">What is student professional awareness?</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<h2>Develop the skills it takes to be successful in industry that you won't learn in a classroom.</h2>

								<p>Engineering is broader than writing code or designing a circuit. In reality, nontechnical competencies are just as critical to engineers as their technical training. IEEE-USA student professional awareness activities are oriented to enhance the leadership, career, and professional development skills of engineering students.
								</p>

								<p>Student members of IEEE have many resources available to them - all you have to do is ask. Our regional support coordinators and every member of the committee are committed to helping you get the most out of your SPAx experience.
								</p>
							</div>

							<div class="col-sm-4">
								<h2>IEEE Student Chapter Involvement</h2>
								<p>The sky is the limit. Student Chapters are encouraged to create their own Student Professional Awareness event, and the experience is yours to decide. Traditional conference format, ventures, techtalks, resume workshops, are just some of the few options you have as students to engage yourselves in professional awareness activies. Learn from our newly revamped experience page, specially created as a platform for student chapters around the world to share their innovation and creative with each other.</p>
								<h3>Get involved today.</h3>
								<p>Hosting your own event is not only a fantastic experience, it is a fantastic resume booster. Try to get some real world companies to sponsor your event, and bring out some potential hiring recruiters. The possibilities are endless.  </p>
							</div>
						</div>
					</div>
				</section>

				<section class="slice color4">
					<h1>The IEEE SPAx Vision</h1>
					<h2 class="subTitle">10 Regions, 1 Cause</h2>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-6">
							<p> This year, IEEE-USA is celebrating the 35th birthday of the SPAC program. Since its inception in 1985, Over 100,000 students participated from this effort to encourage students to be more professionally aware. In our continual quest to provide an even better experience and value to the student members of IEEE, a new effort was made to listen and understand the SPAC program from the students perspective, and how IEEE-USA can improve their process to enhance the student experience. We discovered two key lessons</p>
						</div>
						<div class="col-xs-3"></div>
					</div>

					<div class="row">
						<div class="col-md-3 col-sm-6 ">

						</div>

						<div class="col-md-3 col-sm-6">
							<article class="boxFeature-2">
								<i class="icon-thumbs-up  iconBig"></i>
								<h2>The Best SPACs</h2>
								<p>Were often achieved when students were able to modify the traditional conference format into their own, iterating over multiple years</p>
							</article>
						</div>

						<div class="col-md-3 col-sm-6">
							<article class="boxFeature-2">
								<i class="icon-credit-card iconBig"></i>
								<h2>Cost and Budget</h2>
								<p>Varied wildly between chapters of different sizes, up to a factor of 20 in some cases</p>
							</article>
						</div>

						<div class="col-md-3 col-sm-6">

						</div>
					</div>

				</section>

				<!-- PARALAX SLICE HERE -->
				<section>
					<div id="paralaxSlice5" data-stellar-background-ratio="0.5">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText">
								<!-- <h1 class="bigTitle">Explore</h1>
								<h2 class="subTitle">What is SPAx all about? Learn about IEEE's eight areas of student professional awareness</h2>
								<a href="../spax/explore.html" class="btn">Details</a> -->
							</div>
						</div>
					</div>
				</section>

				<!-- Introduce the model -->
				<section class="slice color4" id="services">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Introducing SPAx</h1>
								<h2 class="subTitle">The new model of IEEE-USA Student Professional Activities</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<p>In Fall 2014, IEEE-USA announced a new program called Student Professional Awareness Experience. SPAx builds on the longstanding legacy of Student Professional Awareness Conferences and Ventures, in an effort to address the highly dynamic world we live in today. The goal is for students to “Engage. Explore. Experience.”</p>
							</div>

							<br>

							<div class="col-xs-12">
								<h1>What is X?</h1>
								<p>The “x” in SPAx is a variable. It could be shaped as a conference with an invited expert speaker, a series of activities focused on honing career skills, a social event to foster networking and team building skills, a design contest, a tech talk, or any other format, as long as they focus on one or more of the following eight areas. You decide what works for your chapter, and IEEE gives you the support to implement your ideas.</p>
							</div>
						</div>

						<br>
					</div>
				</section>


				<section class="slice color2">
					<h1>SPAx Focus areas</h1>
					<div class="panel-group" id="bAccordion">
		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title accordian-header">
		                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		                                Career Development
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseOne" class="panel-collapse collapse">
		                        <div class="panel-body">
		                        	<div class="row">
		                        		<div class="col-md-12">

						                </div>
		                        	</div>
		                        	<div class="row">
			                            <div class="col-md-6">
			                            	Engineers and technologists are uniquely positioned to embark on careers that are not only technical but also in various areas including business management, finance, economics, health, law, non-profit sector, consulting, journalism, public relations, entrepreneurship, government, and entertainment.
			                            </div>
			                            <div class="col-md-6">
			                            	<h3>Discover how to:</h3>
									            <ul>
									            	<li>Make the most of your career choices, career fairs and internships</li>
									                <li>Fare well in informational and formal interviews</li>
									                <li>Craft and customize your resume, CV, and cover letter for different career pathways</li>
									                <li>Be better informed for your job search and negotiations</li>
									                <li>Establish and maintain professional connections and a circle of mentors</li>
									                <li>Prepare for professional registration, certifications, as well as advanced degrees</li>
									            </ul>
			                            </div>
			                            <div class="row">
			                            	<div class="col-md-4"></div>
			                            	<div class="col-md-4"></div>
			                            	<div class="col-md-4">
		                        				<p>
		                        					<a class="btn btn" href="../spax/speakers.html">See available Speakers</a>
		                        				</p>
		                        			</div>
		                        		</div>
			                        </div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                                Professional Integrity
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseTwo" class="panel-collapse collapse">
		                        <div class="panel-body">
		                        	<div class="row">
			                            <div class="col-md-6">
			                            	Ethics and engineering are fundamentally intertwined. Decisions made by engineers have a profound impact on society.
			                            </div>

			                            <div class="col-md-6">
			                            	<h3>Discover how to:</h3>
									            <ul>
									            	<li>Practice ethics in a work environment that is constantly influenced by realities of globalization, financial motivation, and information overload</li>
													<li>Generate or customize a framework or set of principles for ethical conduct across differing conflicts and scenarios</li>
													<li>Balance professional integrity against corporate loyalty and other personal interest</li>
									            </ul>
			                            </div>
		                        	</div>

		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		                                Personal Skills
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseThree" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	Personal skills are as crucial as technical skills for a successful career in engineering, and paves the way for successfully navigating the business world.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover how to:</h3>
								            <ul>
								            	<li>Develop skills that are necessary to effectively run a meeting and manage a committee. </li>
												<li>Apply the best practices for time management and priority setting of tasks </li>
												<li>Better manage your online persona and learn how it can assist or affect your career </li>
												<li>Plan your finances and investments </li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
		                                Engineers and Public Policy
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseFour" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	Decision-makers are frequently looking to engineers for advice to improve public policies.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover:</h3>
								            <ul>
								            	<li>How a legislation is drafted, introduced, and debated in Congress</li>
												<li>The major policy issues and contentions of current interest, and why you should care</li>
												<li>The role engineers play in informing and shaping public policy and how to get involved</li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
		                                Leadership in Professional Organizations
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseFive" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	Staying involved in a professional society adds value to your career. However, becoming a leader improves your professional net worth and profile.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover how:</h3>
								            <ul>
								            	<li>A professional society—such as IEEE—can help you in your professional and personal growth</li>
												<li>Staying involved with a professional organization is a value to you and your profession? </li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
		                                The Practice of Innovation
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseSix" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	Innovation is a complex theoretical concept but can be learned by practice like any other art or science.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover how to:</h3>
								            <ul>
								            	<li>Capitalize on your professional training and creativity to become an innovator</li>
												<li>Learn from the success and failure of others</li>
												<li>Incorporate elements and practices of other cultures and professions (such as arts, humanities, media, and sociology)</li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
		                                The Art of Communication
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseSeven" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	In a world of short attention spans, it is crucial to create and communicate a message that sticks. Learning how to communicate effectively will multiply the impact of your work.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover how to:</h3>
								            <ul>
								            	<li>Master the art of storytelling</li>
												<li>Deliver better presentations </li>
												<li>Improve written communication</li>
												<li>Leverage social, traditional, and other media effectively</li>
												<li>Use these skills to help improve the public understanding of engineering and its impact</li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>

		                <div class="panel panel-default">
		                    <div class="panel-heading">
		                        <h4 class="panel-title">
		                            <a class="accordion-toggle accordian-header" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
		                                Humanitarian Grand Challenges
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseEight" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <div class="col-md-6">
		                            	Engineers play a major role in advancing technology for the benefit of humanity.
		                            </div>

		                            <div class="col-md-6">
		                            	<h3>Discover how to:</h3>
								            <ul>
								            	<li>Play a role in reducing poverty and hunger, improving infrastructure, and addressing environmental and economic challenges</li>
												<li>Become a global citizen and an ambassador for the engineering profession.</li>
								            </ul>
		                            </div>
		                            <div class="row">
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4"></div>
		                            	<div class="col-md-4">
	                        				<p>
	                        					<!--<a class="btn btn">See available Speakers</a>-->
	                        				</p>
	                        			</div>
	                        		</div>
		                        </div>
		                    </div>
		                </div>
		            </div>
				</section>


				<section class="slice color4">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>How does this work?</h1>
								<h2 class="subTitle">Steps to a successful SPAx at-a-glance</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6 ">
								<article class="boxFeature-2">
									<i class="icon-link iconBig"></i>
									<h2>Initiate a SPAx event</h2>
									<p>In our Engage page, submit a few bits of information and a SPAx Coordinator in your area will follow-up shortly to discuss your event plans.</p>
								</article>
							</div>

							<div class="col-md-3 col-sm-6">
								<article class="boxFeature-2">
									<i class="icon-code-outline iconBig"></i>
									<h2>Design your experience</h2>
									<p>Decide what type of Student Professional Awareness event would be interesting to the IEEE student members in your area; The sky is the limit! Any event or budget can be considered; We only ask that you submit an event description to get official approval.</p>
								</article>
							</div>

							<div class="col-md-3 col-sm-6">
								<article class="boxFeature-2">
									<i class="icon-th-large-outline iconBig"></i>
									<h2>Plan, Organize, Run</h2>
									<p>Once your event is approved by IEEE, it's time to spring into action! Plan your budget, funding, venue, program, and marketing (Need resources and tips? Head over to our <a href="../experience.html">experience</a> section to learn what other chapters have done).</p>
								</article>
							</div>

							<div class="col-md-3 col-sm-6">
								<article class="boxFeature-2">
									<i class="icon-pencil iconBig"></i>
									<h2>Tell us how you did</h2>
									<p>Like many engineering endeavors, iterating and learning is the key to being successful. To receive credit for your event, simply send us a small report on your event and lessons learned.</p>
								</article>
							</div>

						</div>
					</div>
				</section>

				<section class="slice color1">
					<h1>F.A.Q.</h1>
					<div class="ctaBox">
	                    <div class="container">
	                        <div class="row">
                                <div class="col-md-8">
                                    <h1><strong>Who is eligible for this program?</strong></h1>
                                    <h2>All active IEEE student chapters are eligible to host an SPAx in their area; Please contact your representative for more information.</h2>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
					<div class="ctaBox">
	                    <div class="container">
	                        <div class="row">
                                <div class="col-md-8">
                                    <h1><strong>SPAx seems really intimidating; Can I still do a SPAC or an SPAVe?</strong></h1>
                                    <h2>Yes! The old formats (SPA-Conference, SPA-Venture, and SPA-Workshop) is still valid and sometimes encouraged options; SPAx simply unifies the differently named events under one name, and allows for other event possibilities</h2>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
					<div class="ctaBox">
	                    <div class="container">
	                        <div class="row">
                                <div class="col-md-8">
                                    <h1><strong>What resources are available to us?</strong></h1>
                                    <h2>IEEE-USA can provide a keynote speaker from our national list or up to $200 in matching funding (as long as it isn't used to pay for a speaker) up to twice per calendar year per student branch in regions 1 to 6.  For regions 7 to 10, you can request up to $500 in matching funding from the SPAA Chair.</h2>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
				</section>

				<section>
					<div id="paralaxSlice2" data-stellar-background-ratio="0.5">
						<div class="maskParent">
							<div class="paralaxMask"></div>
							<div class="paralaxText">
								<h2 class="subTitle">Ready to start a SPAx in your community?</h2>
								<a href="../spax/engage.html" class="btn">Start here</a>
							</div>
						</div>
					</div>
				</section>

				<!-- content -->
				<!-- footer -->
				<div id="footer"></div>
				<!-- End footer -->
			</div>
			<!-- global wrapper -->
		<!-- End Document
		================================================== -->
	</body>
	</html>